/* utilty */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

.clearfix:after{
    display: table;
    clear: both;
    content: "";
}
/* end utility */



/* debug */
.debug{
    height: 948px;
    background-color: pink;
    border: 1px solid black;
    
}

.de_bug{
    height: 512px;
    background-color: pink;
    border: 1px solid black;  
}

.debu_g{
    height: 324px;
    background-color: green;
    border: 1px solid black;
}

.d_ebug{
    height: 277px;
    background-color: grey;
    border: 1px solid black;
}
.size{
    margin: 1rem 2rem;
}


/* start of header page*/


header{
    background-color: #B4D0E7;
    height: 818px;
}
/* navigation menu */

.top_banner{
    background-color: #FFFFFF ;
    height: 80px;
    display: flex;
    justify-content: space-between;
}

.info{
    width: 537px;
    height: 40px;
    margin: 1.25rem 0rem;
}
.left{
    background-color: red;
}

.right{
    background-color: blue;
}

/* end navigation menu */


.container_medium{
    margin: auto;
    width: 90%;
    height: 633px;
    margin-top: 3rem;
    background-color: black;
}
.title{
    height: 218px;
    background-color: yellow; 
}

.box{
    display: flex;
}

.description{
    width: 387px;
    height: 387px;
    background-color: aqua;
    margin-top: 1.70rem;
}
.front_app{
    width: 672px;
    height: 387px;
    background-color: purple;
    margin-top: 1.70rem;
    margin-left: 2rem;
}
/*  end  header of page*/

/* start of main page */

.container_big{
    margin: auto;
    width: 70%;
    margin-top: 2rem;
}
/* column */


.introduction{
    background-color: green;
    height: 133px;
}
.checkbox{
    height: 79px;
    background-color: orange;
}
.col_1{
    width: calc(100% / 12 * 3);
    
}
.col_centrale{
    background-color: coral;
    height: 254px;
    margin: 0rem 2rem;
}
/*  end column */

.picture{
    width: 60%;
    height: 511px;
    margin: 4rem 2rem;
    background-color: red;
}
.serch_partner{
    width: 30%;
    height: 511px;
    background-color: green;
    margin-top: 4rem;
}
/* grid structure */


.middle_title{
    margin: 1rem 2rem;
    width: 80%;
    height: 72px;
    background-color: blue;  
}
.row{
    display: flex;
    flex-wrap: wrap;
}
/* end grid structure */

.report{
    height: 215px;
    background-color: brown;
    width: 50%;
    width: 50%;
    margin: 4rem 2rem;
}

/* brand */

.col_2{
    width: calc(100% / 12 * 2);
}
.col_3{
     width: calc(100% / 12 * 4);
}
.trial{
     height: 356px;
     background-color: #B4D0E7;
}

/* end brand */
 
/* bottom bar */
footer{
    background-color: black;
}
.question{
    margin: 4rem 2rem;
    height: 489px;
    background-color: yellow;
}
/* end bottom bar */


