/* utilty */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

.clearfix::after{
    display: table;
    clear: both;
    content: "";
}
/* end utility */

/* start of header page*/


header{
    background-color: #B4D0E7;
    height: 818px;
}
/* navigation menu */

.top_banner{
    background-color: #FFFFFF ;
    height: 80px;
    display: flex;
    justify-content: space-between;
}

.info{
    width: 537px;
    height: 40px;
    margin: 1.25rem 0rem;
}
.left{
    background-color: red;
}

.right{
    background-color: blue;
}

/* end navigation menu */


.container{
    margin: auto;
    width: 1091px;
    height: 633px;
    margin-top: 3rem;
    background-color: black;
}
.title{
    height: 218px;
    background-color: yellow; 
}


.business{
    width: 387px;
    height: 387px;
    background-color: aqua;
    margin-top: 1.70rem;
    float: left;
}
.plane{
    width: 672px;
    height: 387px;
    background-color: purple;
    margin-top: 1.70rem;
    margin-left: 2rem;
    float: left;
}
/*  end  header of page*/